@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://rsms.me/inter/inter-ui.css');


*{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

#titulo{
    text-align: center;
    margin-top: 0%;
    top: 0%;
}

#lista{
    font-family: "Roboto", sans-serif;
mask-type: disck; 
}

img{
    display: block;
    margin: auto;
    width: 400px;
    height: 400px;
    border: 3px salid black;
    border-radius: 100%;
    transition: 2s all ease;
}
img:hover {
    transition: 1.2s all ease;
    transform: scale(1.2) rotate(360deg);
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        border: 1px solid #000;
        padding: 8px;
        text-align: center;
    }
    
    th {
        background-color: black;
        color: white;
    }
    
    .birthdate {
        font-size: 1.5em;
        font-weight: bold;
        color: #ffffff;
        background-color: #000000;
        box-shadow: 0 0 5px #000000;
}
.birthdate:hover {
        background-color: #ffffff;
        color: #000000;
        box-shadow: 0 0 5px #ffffff;
    }
#fe{
    background-color: aqua;
}

::selection {
    background: #2D2F36;
}
::-webkit-selection {
    background: #2D2F36;
}
::-moz-selection {
    background: #2D2F36;
}
body {
    background: white;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 20px;
}
.page {
    background: #e2e2e5;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    place-content: center;
    width: calc(100% - 40px);
}
@media (max-width: 767px) {
    .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    }
}
.container {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
}
@media (max-width: 767px) {
    .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
    }
}
.left {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
}
@media (max-width: 767px) {
    .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
    }
}
.login {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}
.eula {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
}
.right {
    background: #474A59;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
    position: relative;
    width: 50%;
}
@media (max-width: 767px) {
    .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
    }
}
svg {
    position: absolute;
    width: 320px;
}
path {
    fill: none;
    stroke: url(#linearGradient);;
    stroke-width: 4;
    stroke-dasharray: 240 1386;
}
.form {
    margin: 40px;
    position: absolute;
}
label {
    color:  #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}
input {
    background: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
}
input::-moz-focus-inner { 
    border: 0; 
}
#submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
}
#submit:focus {
    color: #f2f2f2;
}
#submit:active {
    color: #d0d0d2;
}

/* Estilos CSS */
#git {
    background: linear-gradient(to right, #ff00ff, #ff0000);
    padding: 50px;
    color: black;
}

.git-commands {
    list-style-type: none;
    padding: 0;
}

.git-commands li {
    margin-bottom: 10px;
}

.command-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7); /* Aquí se agrega la sombra */
}

.command {
    color: #007bff;
    font-weight: bold;
}

.command:hover {
    background-color: #e3e3e3;
    cursor: pointer;
}

#resumen {
    background-color: #ffffff;
    padding: 50px;
    color: #000000;
}

.summary {
    line-height: 1.6;
}

.summary strong {
    font-weight: bold;
}

.summary em {
    font-style: italic;
}

.summary u {
    text-decoration: underline;
}

.summary del {
    text-decoration: line-through;
}

.summary:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.5); /* Somra de color amarillo al hacer hover */
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

#icono-nav{
    color: #fff;
    display: none;
}
.redes a:hover {
    color: #ff5080;
}

.redes a{
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    transition: .5s;
}